/*.iml
/.idea
/.settings
/.classpath
/.project
/coffeescript-compiler.iml
/target
/out
/grails-app/i18n
/web-app
*.log
grails-coffeescript-compiler-*.zip
grails-coffeescript-compiler-*.zip.sha1
plugin.xml
