<plugin name='coffeescript-compiler' version='0.13' grailsVersion='2.1 &gt; *'>
  <author>Brian Kotek</author>
  <title>Coffeescript Compiler Plugin</title>
  <description>A simple CoffeeScript 1.4 compiler plugin. It compiles .coffee source files into .js files, and does not require NodeJS or CoffeeScript to be installed on your machine. Leaves you with full control over if/how to use these generated .js files as resources, etc. Full documentation at: https://github.com/brian428/grails-coffeescript-compiler-plugin.
</description>
  <documentation>https://github.com/brian428/grails-coffeescript-compiler-plugin</documentation>
  <type>CoffeescriptCompilerGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='ro.isdc.wro4j' name='wro4j-extensions' version='1.6.2' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>